h1 {
    text-align: center;
    margin: 30px 20px;
    width: auto;
}

#content {
    margin: 0 auto;
    text-align: left;
    width: 600px;
    font-size: 14px;
    line-height: 140%;
}

.cDefault {
  cursor: url(https://aaronmaynard.github.io/Skyrim-Perk-Utility/cursor/default.cur),
}

.cDownload {
  cursor: url(https://aaronmaynard.github.io/Skyrim-Perk-Utility/cursor/download.cur),
}

.cCrosshair {
  cursor: url(https://aaronmaynard.github.io/Skyrim-Perk-Utility/cursor/crosshair.cur),
}
