html, body {
  background: rgb(20,20,20);
  border: none;
  color: rgb(200,200,200);
  font-family: Arial, helvetica, sans;
  margin: 0 0 50px 0;
  padding: 0;
  text-align: center;
}

.nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav span{
    display:inline-block;
    padding:10px;
}

a {
  text-decoration: none;
  color: rgb(100, 150, 230);
}

a:hover {
  color: rgb(230, 150, 100);
}

button {
  background: rgb(64, 64, 64);
  border: 1px solid rgb(0,0,0);
  color: white;
  cursor: pointer;
  padding: 6px 10px;
  margin: 0 0 0 5px;
}

button:hover {
  background: rgb(0,0,0);
  color: rgb(255, 153, 51);

}

input[type=button] {
  background: rgb(64, 64, 64);
  border: 1px solid rgb(0,0,0);
  color: white;
  cursor: pointer;
  padding: 6px 10px;
  margin: 0 0 0 5px;
}

input[type=button]:hover {
  background: rgb(0,0,0);
  color: rgb(255, 153, 51);

}

h1 {
  font-size: 24px;
  margin: 10px auto;
  padding: 0;
  text-align: left;
  width: 990px;
  text-shadow: 3px 3px 3px #000;
}

.toolbar {
  background: rgb(30,30,30);
  border: 1px solid rgb(50,50,50);
  font-size: 12px;
  height: 30px;
  margin: 0 auto;
  padding: 5px 10px;
  text-align: left;
  width: 970px;
}

.caption {
  margin: 8px 10px;
  float: left;
}

.clear-perks {
  display: none;
  float: left;
}

.footer {
  font-size: 12px;
  margin: 20px 0 0 0;
}

.info {
  margin: 0 auto;
  padding: 5px 0px;
  text-align: left;
  width: 990px;
  color: rgb(230, 100, 0);
  font-size: 12px;
}

ol li {
  margin: 0 0 20px 0;
}

li span, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content span {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content span:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.cDefault {
  cursor: url(https://aaronmaynard.github.io/Skyrim-Perk-Utility/cursor/default.cur), default;
}
.cDownload {
    cursor: url(https://aaronmaynard.github.io/Skyrim-Perk-Utility/cursor/download.cur), pointer;
}
.cCrosshair {
    cursor: url(https://aaronmaynard.github.io/Skyrim-Perk-Utility/cursor/crosshair.cur), crosshair;
}
